body{
   background-color: #95a5a6 ; 
      background-image: url("Imagenes/tierra.jpg");
   background-size: 1600px 750px;
    background-repeat: no-repeat;
  
   
}
div#header {
	margin-top:20px;
    width: 100%;
    height: 120px;

   

}

form{
    background-image: url("Imagenes/canasta.jpg");
    background-position: center;
    margin: auto;
    margin-top:20px;
    width: flex;
    max-width: 300px;
    padding: 30px;
    border: 1px solid #999999;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
     
    margin-bottom: 20px;
    color:#F2F5A9;

}

input{
    display: block;
    padding: 10px;
    width: 250px;
    margin: 30px 0px;
    border-radius: 5px;
    font-size: 20px;
}
input[type="submit"]{
     background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color:  brown;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
  
}
input[type="submit"]:hover{
    opacity: 1;
}
input[type="submit"]:active{
    transform: scale(0.95);
}

 
nav > ul {
	display:table;
    position:absolute;
		top: 5px;
		right: -100px;
    border-radius: 5px;
    border: 1px solid #999999;
	
;
	
}
 
nav > ul li {
	display:table-cell;
}
 
 
nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
nav {
    top:-1px;
    position: absolute;
    left:0px;
    right:0;
	margin:20px;
	height: 80px;
	width:90%;
}