*{
    border: 0;
    margin :0;
    padding: 0;
}

@keyframes cambio {
    from {background-image: url(Imagenes/5.jpg);}
    to {background-image: url(Imagenes/com.jpg)}
}
body{
    background-image: url(Imagenes/04.jpg);
    
}
nav {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
	margin:28px auto;
	margin-left: 77px;
	width:91%;
}
nav{
    transform: translateX(60px)
}
nav ul {
	list-style:none;
    border-radius: 5px;
    
}
 
nav > ul {
	display:block;
	width:100%;
	background: #3498db
;
	position:relative;
}
 
nav > ul li {
	display:table-cell;
    transform: translateX(10px)
}
 
 
nav > ul li a {
	color:#fff;
	display:block;
	line-height:15px;
	padding:20px;
	text-align:center;
    width: 55px;
     transform: translateX(1100px)
    
    
	
}
 
nav > ul > li > ul > li a:hover {
	background-color: #2ECCFA;
}
.submenu{
	position:relative;
	visibility: hidden;
	opacity: 0;
    height: 0px;
	transition: opacity 1.5s;
}

.submenu li a{
    display: flex;
    flex-direction: row-reverse;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
    background-color: #3498db;
    border-radius: 5px;
    height: 15px;
    width: 60px
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
#contenedor{
    margin-left: 20px;
    width: 1500px;
    height: 240px;
}
#contenedor #buscar{
    transform: translateY(-111px);
      border: outset;
    width: 320px;
    height: 220px;
    margin-left: 100px;
      display: inline-block;
}
#contenedor #buscar  #tittle{
    text-align: center;
    padding-top: 3px;
    border: outset;
}
#contenedor #productos{
    width: 200px;
    height: 220px;
    margin-left: 100px;
      display: inline-block;
     border: outset;
     transform: translateY(-85px);
    
}
#contenedor #informacion{
    width: 200px;
    height: 220px;
    margin-left: 100px;
      display: inline-block;
     border: outset;
     transform: translateY(35px);
    
}
#contenedor #encontrar{
    margin-top: 10px;
    width: 220px;
    height: 220px;
    margin-left: 100px;
      display: inline-block;
      border: outset;
    transform: translateY(-6px);
}
#anuncios{
    margin-top: 20px;
    border-radius: 2px;
    width: 1480px;
    height: 250px;
    border: outset;
    padding: 10px;
    margin-left: 15px;
    background-image: url(Imagenes/5.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    animation-name: cambio;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    background-clip: border-box;
    
}

.find{
 
   padding:2px;
   cursor:pointer;
   display:block;
   width:150px;
   margin: 0 auto;
   text-align:left;
   transform:translateY(80px);

   



   
}
input[type="submit"]{
     background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color:  brown;
    padding: 10px 30px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;

    transform: translateY(160px);
    margin-left: 80px;

  
}
input[type="submit"]:hover{
    opacity: 1;
    
}
input[type="text"]{
    margin-top: 50px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
        margin-left: 8px;
    
}

input[type="submita"]{
     background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color:  brown;
    padding: 10px 30px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
 transform: translateX(50px);
    width: 50px;
    

  
}
input[type="submita"]:hover{
    opacity: 1;
    
}
#calificaciones {
    width: 165px; 
    height: 16px;
    display: block;
    margin: 20px;
}
#calificaciones #menos{
    width: 20px;
    display: block;
     border: outset;
    background-color: aliceblue;
    text-align: center;
    height: 10px;
    transform: translateY(-2.5px);
}
#calificaciones #rojo{
    width: 20px;
    height: 10px;
    display: block;
    margin-left: 22px;
    transform: translateY(-18px);
    border: outset;
    background-color: red;
}
#calificaciones #naranja{
    width: 20px;
    height: 10px;
    display: block;
    margin-left: 45px;
    transform: translateY(-33px);
    border: outset;
    background-color: orange;
}
#calificaciones #amarillo{
       width: 20px;
    height: 10px;
    display: block;
    margin-left: 67px;
    transform: translateY(-47.5px);
    border: outset;
    background-color: yellow; 
}
#calificaciones #verdeclaro{
        width: 20px;
    height: 10px;
    display: block;
    margin-left: 92px;
    transform: translateY(-62.5px);
    border: outset;
    background-color: yellowgreen;
}
#calificaciones #verde{
        width: 20px;
    height: 10px;
    display: block;
    margin-left: 117px;
    transform: translateY(-77.2px);
    border: outset;
    background-color: green;
}
#calificaciones #suma{
        width: 20px;
    height: 10px;
    display: block;
    margin-left: 141px;
    transform: translateY(-91.7px);
    border: outset;
    background-color:aliceblue;
    text-align: center;
}