body{
background-image: url(Imagenes/6.jpg)    
}


nav > ul {
	display:table;
    position:absolute;
		top: 5px;
		right: -100px;
    border-radius: 5px;
    border: 1px solid #999999;
	
;
	
}
 
nav > ul li {
	display:table-cell;
}
 
 
nav > ul li a {
    color: black;
	display:block;
	line-height:20px;
	padding:20px;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
nav {
    top:-1px;
    position: absolute;
    left:0px;
    right:0;
	margin:20px;
	height: 80px;
	width:90%;
}
#contenedor{
    height: 550px;
}
#contenedor #mapa{
    width: 600px;
    transform: translateX(370px);
        display:inline-block;
}
#contenedor #listaProductos{
    width: 350px;
    height: 220PX;
    display: block;
    transform: translateY(-500px);
    border: outset;
    
}
#contenedor #Anuncios{
    display: block;
    margin-left: 1000px;
    width: 400px;
    height: 450px;
    transform: translateY(-685px);
    background-image: url(Imagenes/1.jpg);
    border: outset;
    
}
#contenedor #listaProductos #tablaLista .encabezado{
    border: outset;
    
    
}
#contenedor #listaProductos #Informacion #infovendedor{
      border: outset;
}
#contenedor #listaProductos #Informacion .encabezado{
      border: outset;
}
#contenedor #buscar{
    width: 300px;
    transform: translateY(-950px);
    border: outset;
    margin-left: 20px;
    
}
#contenedor #productos{
    width: 200px;
    height: 200px;
    border: outset;
    transform: translateY(-930px);
    margin-left: 60px;
}
#contenedor #productos #h1{
    border: outset;
    transform: translateY(-18px);
    text-align: center;
}

button[type="button"]{
     background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color:  brown;
    padding: 10px 30px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;

    transform: translateY(-20px);
    margin-left:45px;

  
}
button[type="button"]:hover{
    opacity: 1;
    
}



input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
    width: 120px;
    font-size: 30px;
    transform: translateX(40px);
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: green;
}

input[type="radio"]:checked ~ label {
  color: green;
}