body{
   background-image: url("Imagenes/2.jpg");
   background-size: 1900px 800px;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
     text-align: center;
}

form{
      background-image: url("Imagenes/agua.jpg");
    background-position: center;
    margin: auto;
    width: flex;
    max-width: 500px;
    padding: 30px;
    border: 1px solid #999999;
    border-radius: 10px;
    font-family: Impact, Charcoal, sans-serif;
   
}
input[type="submit"]{
     background: linear-gradient(#FFDA63, #FFB940);
    border: 0;
    color:  brown;
    padding: 10px 30px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
  
}
input[type ="file"]{
    border: 0;
    cursor: pointer;
    border-radius: 20px;
}
input{
    border: 0;
    border-radius: 5px;
}


div#header {
	margin-top:20px;
    width: 100%;
    height: 110px;
    position: absolute;



}


input[type="submit"]:hover{
    opacity: 1;
}
input[type="submit"]:active{
    transform: scale(0.95);
}
nav > ul {
	display:table;
    position:absolute;
		top: 5px;
		right: -100px;
    border-radius: 5px;
    border: 1px solid #999999;
	
;
	
}
 
nav > ul li {
	display:table-cell;
}
 
 
nav > ul li a {
    color: black;
	display:block;
	line-height:20px;
	padding:20px;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
nav {
    top:-1px;
    position: absolute;
    left:0px;
    right:0;
	margin:20px;
	height: 80px;
	width:90%;
}



